body {
    background-color: white;
    background-image: url(../IMAGES/ldon.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    width: 70px;
    height: 60px;
    padding-top: 10px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-larger;
    padding-left: 80px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    padding-left: 80px;
}

.mainDiv {
    background-color: white;
    border-radius: 20mm;
    width: 400px;
    height: 500px;
    padding: 100px 200px 30px 200px;
    margin: 100px 50px 50px 250px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(221, 221, 221);
    color: black;
    font-weight: lighter;
    border: black;
}

a:hover {
    background-color: chocolate;
    color: white;
}